@font-face {
  font-family: russo;
  src: url(Russo_One.ttf); }
@font-face {
  font-family: comf-reg;
  src: url(Comfortaa-Regular.ttf); }
@font-face {
  font-family: comf-light;
  src: url(Comfortaa-Light.ttf); }
@font-face {
  font-family: comf-bold;
  src: url(Comfortaa-Bold.ttf); }
body {
  margin: 0px;
  font-family: 'comf-reg' !important; }

.skip-link {
  display: none; }

img {
  width: 100%;
  height: auto; }

header {
  display: block;
  background-color: #ffffff;
  margin: 0px;
  width: auto;
  height: auto; }
  header #primary-menu {
    list-style-type: none;
    float: left; }
    header #primary-menu li {
      margin-left: 1em; }
      header #primary-menu li a {
        text-decoration: none;
        text-transform: uppercase;
        color: #000000; }
  header #site-navigation {
    display: block; }
  @media only screen and (max-width: 768px) {
    header {
      padding-bottom: 45px; }
      header .custom-logo {
        height: 3em;
        width: auto;
        float: left; }
      header .mobile-exit {
        height: 1.5em;
        width: auto;
        margin: 0.5em;
        margin-top: 1em;
        float: right;
        cursor: pointer; }
      header .mobile-nav {
        height: 1.5em;
        width: auto;
        float: right;
        margin: 0.5em;
        cursor: pointer; }
      header #primary-menu {
        display: block; }
        header #primary-menu .menu-item {
          margin: 1em; }
        header #primary-menu .sub-menu {
          display: block;
          position: relative; }
      header .main-navigation {
        position: fixed;
        z-index: 999;
        right: 0;
        top: 0;
        width: 66%;
        height: 100vh;
        background-color: #ebfdeb; } }
  @media only screen and (min-width: 768px) {
    header {
      padding-bottom: 70px; }
      header .custom-logo {
        height: 5em;
        width: auto;
        float: left; }
      header .mobile-nav {
        display: none; }
      header .mobile-exit {
        display: none; }
      header #primary-menu {
        display: flex;
        margin-top: 1.5em; }
        header #primary-menu .sub-menu {
          display: none; }
      header #site-navigation .menu-item:hover .sub-menu {
        background-color: #ebfdeb;
        z-index: 999;
        display: block;
        position: absolute;
        padding: 0.1em;
        border-radius: 5px; }
        header #site-navigation .menu-item:hover .sub-menu li {
          display: block;
          margin-top: 0.5em;
          margin-bottom: 0.5em;
          margin-left: 0.3em;
          margin-right: 0.3em; } }

.type-page {
  position: relative;
  background-color: #f1fff1;
  width: 80%;
  margin: 1em; }
  .type-page h1 {
    font-family: 'russo';
    font-weight: bold;
    color: #503656;
    text-align: center; }
  .type-page .entry-header {
    background-color: #f1fff1;
    padding: 1em; }
  .type-page .entry-content {
    margin: 1.5em;
    margin-right: 2em;
    padding-bottom: 1em;
    word-wrap: normal; }
    .type-page .entry-content header {
      background-color: #f1fff1; }
    .type-page .entry-content h2 {
      font-family: 'russo';
      color: #503656; }
  .type-page p, .type-page ul {
    line-height: 1.5; }
  @media only screen and (max-width: 768px) {
    .type-page {
      margin-left: 5.5em; }
      .type-page p, .type-page ul {
        font-size: 12px;
        text-align: justify; } }
  @media only screen and (min-width: 768px) {
    .type-page {
      margin-left: 15%; } }

#post-49 {
  background: none;
  width: 100%;
  margin: 0px;
  scrollbar-width: none;
  overflow-x: hidden; }
  #post-49 header {
    background: none; }
    #post-49 header h1 {
      display: none; }
  #post-49 .entry-header {
    padding: 0px; }
  #post-49 .entry-content {
    margin: 0px;
    padding: 0px;
    margin-left: 10vw;
    margin-right: 10vw;
    align-items: center;
    justify-content: center; }
  #post-49 .main-sign, #post-49 .side-giff {
    display: inline; }
    #post-49 .main-sign img, #post-49 .side-giff img {
      width: 60vw;
      height: auto; }
  #post-49 .fcc-sign img {
    width: 90%;
    height: auto;
    margin-left: 5%;
    margin-right: 5%; }
  #post-49 .wp-block-group__inner-container {
    width: 100%;
    height: 100%; }
  #post-49 .main-slider {
    display: block;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    height: fit-content;
    width: auto;
    scroll-snap-align: center; }
    #post-49 .main-slider p {
      text-align: center; }
    #post-49 .main-slider a {
      text-decoration: none;
      color: #ffffff;
      background-color: #de1c00;
      font-weight: bolder;
      padding: 4%;
      border-radius: 6px; }
    #post-49 .main-slider .wp-block-group__inner-container {
      justify-content: center;
      margin-bottom: 6px; }
  #post-49 ::-webkit-scrollbar {
    height: 1em; }
  #post-49 ::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0); }
  #post-49 ::-webkit-scrollbar-thumb {
    width: 0.5em;
    background: rgba(0, 0, 0, 0.4); }
  #post-49 ::-webkit-scrollbar-button {
    display: block; }
  #post-49 .film-strip {
    display: inline-block;
    height: 18em;
    width: auto;
    margin: 0px; }
    #post-49 .film-strip img {
      height: 18em; }
  #post-49 .slider-tile {
    display: inline-flex;
    margin: 0px;
    margin-right: -5px;
    width: 13em;
    height: auto;
    background-image: url("theme-images/film-base.png");
    background-size: cover;
    background-repeat-x: no-repeat;
    background-repeat-y: no-repeat;
    z-index: 5; }
    #post-49 .slider-tile .wp-block-group__inner-container {
      background-color: #b2f6b2;
      margin-left: 1em;
      margin-right: 1em;
      margin-top: 2em;
      margin-bottom: 2em;
      border-radius: 9px; }
    #post-49 .slider-tile .wp-block-image {
      margin: 0px; }
    #post-49 .slider-tile img {
      width: 90%;
      height: auto;
      margin-left: 5%;
      margin-right: 5%;
      margin-top: 5%; }
  #post-49 .regulations {
    margin: 0px; }
    #post-49 .regulations img {
      width: 60%;
      height: auto;
      margin-left: 20%;
      margin-right: 20%;
      margin-top: -13%;
      z-index: 0; }
  #post-49 .regulations-link {
    position: relative;
    margin-top: -15%;
    z-index: 20;
    text-align: center; }
    #post-49 .regulations-link p {
      text-align: center;
      justify-content: center; }
    #post-49 .regulations-link a {
      text-decoration: none;
      color: #ffffff;
      background-color: #de1c00;
      font-weight: bolder;
      padding: 2%;
      border-radius: 7px;
      font-size: 100%; }
  #post-49 .wizard-giff {
    position: relative;
    margin: 0px;
    z-index: 0; }
    #post-49 .wizard-giff img {
      width: 90%;
      height: auto;
      margin-top: -12%; }
  #post-49 .team-card {
    background-color: #f1fff1; }
  #post-49 .insert-page {
    width: 100vw;
    height: auto;
    background-color: #16524b;
    margin-left: -13%;
    padding-top: 7%;
    margin-top: -6%;
    padding-bottom: 8%; }
  @media only screen and (min-width: 768px) {
    #post-49 .main-sign {
      float: left;
      margin: 0px; }
      #post-49 .main-sign img {
        height: auto;
        width: 45vw; }
    #post-49 .side-giff {
      float: right;
      margin: 0px;
      margin-right: 5%;
      margin-top: 2%; }
      #post-49 .side-giff img {
        height: auto;
        width: 17vw; }
    #post-49 .slider-tile {
      width: 16em;
      height: auto;
      margin-right: -8px; }
      #post-49 .slider-tile .wp-block-group__inner-container {
        margin-left: 1.5em;
        margin-right: 1.5em;
        margin-top: 2.5em;
        margin-bottom: 2.5em; } }
  @media only screen and (min-width: 1080px) {
    #post-49 .main-sign {
      float: left;
      margin-left: 4%; }
      #post-49 .main-sign img {
        width: 46vw;
        height: auto; }
    #post-49 .side-giff {
      float: right;
      margin-right: 8%; }
      #post-49 .side-giff img {
        height: auto;
        width: 22vw; }
    #post-49 .main-slider {
      width: 90%;
      height: auto;
      margin-left: 5%;
      margin-right: 5%; }
      #post-49 .main-slider .wp-block-group__inner-container {
        justify-content: center; }
    #post-49 .slider-tile {
      width: 18em;
      height: auto;
      margin-right: -15px; }
      #post-49 .slider-tile .wp-block-group__inner-container {
        margin-left: 2em;
        margin-right: 2em;
        margin-top: 3em;
        margin-bottom: 3em; }
    #post-49 .regulations-link a {
      font-size: 24px; } }
  @media only screen and (min-width: 1575px) {
    #post-49 .main-slider .wp-block-group__inner-container {
      margin-left: 1px; }
    #post-49 ::-webkit-scrollbar {
      display: none; }
    #post-49 .slider-tile {
      width: 25%;
      height: auto;
      margin: -5px; }
      #post-49 .slider-tile .wp-block-group__inner-container {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%; }
    #post-49 .insert-page {
      margin-left: -13%;
      padding-left: 2%; } }

.team-card {
  display: inline-grid;
  background-color: #eeeeee;
  width: 40%;
  height: 80%;
  padding: 1%;
  margin: 3%;
  font-size: 0; }
  .team-card .wp-block-image {
    margin: 0%; }
  .team-card h4 {
    margin: 0px;
    margin-left: 5%;
    font-size: 14px; }
  .team-card img {
    width: 90%;
    height: auto;
    margin: 5%; }
  .team-card ul {
    padding: 0px;
    margin: 0px;
    padding-left: 14%;
    font-size: 10px;
    margin-top: 6%; }
    .team-card ul li {
      padding: 0px;
      margin: 0px; }
  @media only screen and (min-width: 768px) {
    .team-card {
      width: 21%;
      height: auto;
      margin: 1.5%; } }
  @media only screen and (min-width: 1080px) {
    .team-card h4 {
      font-size: 18px; }
    .team-card ul {
      font-size: 14px; } }

footer {
  background-color: #404040;
  color: #ffffff;
  padding: 5%; }
  footer span {
    display: flex;
    padding: 2%; }
  footer a {
    display: flex;
    color: #ffffff;
    padding: 2%; }
    footer a:hover {
      background-color: #b2f6b2;
      color: #000000;
      border-radius: 5px; }
  footer span a {
    display: inline; }
  footer .footer-area {
    display: inline-flex; }
    footer .footer-area h4 {
      font-family: 'russo'; }

/*# sourceMappingURL=style.css.map */
