#post-1794 {
    background-color: transparent;
    margin: auto;
    justify-content: center;
    text-align: center;

    h1 {
        color: #ff6a00;
        font-size: 5em;
    }

    h2 {
        color: #efffc9;
        font-family: 'comf-bold';
        font-size: 2.5em;
    }

    .entry-header {
        background-color: transparent;
        padding: 0px;
    }

    .wizard-main {
        .wizard-giff {
            margin-top: -100%;
            width: 80%;
            height: auto;
        }

    }

    .link-button {
        text-align: center;
        margin: 5%;
        a {
            text-decoration: none;
            color: #ffffff;
            background-color: #de1c00;
            padding: 2%;
            border-radius: 7px;
            font-size: 2em;
        }
    }

    @media only screen and (min-width: 880px) {
        h1 {
            font-size: 7em;
        }

        h2 {
            font-size: 2em;
        }

        .left-col {

            div {
                width: 50%;
                height: auto;
                display: inline-block;
                float:left;
                text-align: left;
                justify-content: left;

                .link-button {
                    text-align: left;
                    font-size: 70%;
                    margin-left: 0px;
                }
            }
        }

        .right-col {
            div {
                width: 50%;
                height: auto;
                display: inline-block;
                float:right;
                text-align: right;
                justify-content: right;

                .link-button {
                    text-align: right;
                    font-size: 70%;
                    margin-right: 0px;
                }
            }
        }
    }

    @media only screen and (min-width: 1610px) {
        h1 {
            font-size: 4em;
        }

        h2 {
            font-size: 2.5em;
        }

        .left-col {
            div {
                width: 33%;
                margin-top:-10%;
            }
        }

        .right-col {
            div {
                width: 33%;
                margin-top: -10%;
            }
        }

        .wizard-main {
            div {
                width: 33%;
                height: auto;
                margin:auto;
                margin-top: -30%;
            }
        }
    }
}
