#post-1794 {
    background-color: transparent;
    
    h1 {
        text-color: #ff6a00;
        font-size: 5em;
    }

    h2 {
        text-color: #efffc9;
        font-family: 'comf-bold';
    }
}
