footer {
    background-color: #404040;
    color: #ffffff;
    padding: 1%;

    span {
        display: flex;
        padding: 0%;

        a {
            padding:0px;
        }
    }

    a {
        display: flex;
        color: #ffffff;
        padding: 2%;

        &:hover {
            background-color: #b2f6b2;
            color: #000000;
            border-radius: 5px;
        }
    }

    span {
        a {
            display: inline;
        }
    }

    .footer-area {
        display: inline-flex;
        h4 {
            font-family: 'russo';
        }
    }
}
