footer {
    background-color: #404040;
    color: #ffffff;
    padding: 1%;


    .site-info {
        text-align: center;
    }

    span {
        display: flex;
        padding: 0%;
        justify-content: center;

        a {
            padding:0px;
            margin-left: 5px;
            margin-right: 5px;
        }
    }

    a {
        display: inline-block;
        color: #ffffff;
        padding: 10px;

        &:hover {
            background-color: #b2f6b2;
            color: #000000;
            border-radius: 5px;
        }
    }

    .footer-area {
        display: grid;
        padding: 2%;
        margin-left: 25px;
        margin-right: 25px;

        h4 {
            font-family: 'russo';
            letter-spacing: 1px;
            font-weight: lighter;
            font-size: 22px;
        }

        a {
            text-decoration: none;
            font-size: 16px;
        }

        ul {
            padding-left: 10%;
            list-style: none;

            border-right: 2px solid white;
            border-color: #ffffff;

            li::before {
                content: "\2022";
                font-size: 30px;
                color:#b2f6b2;
                position: absolute;
                margin-left: -20px;
                margin-top: 4px;
            }

            li {
                display: flex;
                margin-bottom: 4%;
            }
        }
    }

    @media only screen and (min-width: 768px) {
        .footer-area {
            display: inline-grid;
            width: 20%;
            height: auto;
        }
    }
}

.entry-footer {
    display: inline;

    span {

    }
}
